@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.no-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

textarea {
  box-sizing: border-box;
}

.btn-edit {
  @apply text-xs 2xl:text-sm bg-yellow-400 rounded cursor-pointer text-[#111] hover:bg-yellow-500 px-2 py-1;
}

.btn-delete {
  @apply text-xs 2xl:text-sm bg-red-400 rounded cursor-pointer text-[#111] hover:bg-red-500 px-2 py-1;
}

.btn-form {
  @apply inline-flex bg-neutral-800 hover:bg-neutral-900 text-white text-sm lg:text-base border border-[#ccc] rounded-full px-8 py-3;
}

.form-title {
  @apply w-full focus:outline-none max-h-[6rem] h-24 font-semibold text-3xl 2xl:text-4xl text-[#333] focus:ring-0 resize-none py-1.5;
}

.form-text {
  @apply h-[28rem] max-h-[28rem] min-h-[6rem] 2xl:h-[40rem] 2xl:max-h-[40rem] focus:outline-none focus:ring-0 overflow-y-auto text-lg;
}

.search {
  @apply border border-[#ccc] rounded-full w-full h-14 p-4 px-8 my-4;
}

.card-default {
  @apply bg-[#f4f4f4];
}

.card-yellow {
  @apply bg-[#f4f4f4];
}

.card-green {
  @apply bg-[#50B4AB];
}
